@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* a:link {
  color: #61dafb;
  text-decoration: underline;
}

a:visited {
  color: #61dafb;
  text-decoration: underline;
} */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #111122; */
  background-image: linear-gradient(#111122, #111122, #221122);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 3, 12, 0.647);
  border: solid;
  border-top-width: 0;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 0;
  border-color: #45556c27;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 0px 0px 0px 25px;
  padding: 0.4vw;
  /* width: 100px;
  height: 300px; */
}

.intro-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5%;
  margin-top: 20vh;
  max-width: 1920px;
}

.social-link {
  /* background-color: whitesmoke; */
  width: 48px;
  height: 48px;
  margin: 6px;
}

.intro-profile {
  /* max-height: 500px;
  max-width: 500px; */
  width: 30%;
  margin-right: 4%;
}

.hello-text {
  color: rgb(221, 201, 255);
  font-size: 3vw;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-align: left;
  margin: 0;
}

.name-text {
  color: #32d9ff;
  font-size: 8vw;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: left;
  line-height: 8vw;
  margin: 0;
  margin-bottom: 1%;
  margin-top: 0%;
}

.bio-text {
  color: rgb(138, 234, 177);
  font-size: 2vw;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-align: left;
  margin: 0;
}

.project-container {
  /* min-height: 100vh; */
  max-width: 1920px;
  display: block;
  flex-direction: column;
  justify-content: right;
  justify-items: right;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 12vh;
  margin-top: 1%;
}

.App-link {
  color: #61dafb;
}

.description-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* height: 600px; */
  width: 100%;
  margin: 0 auto;
}

.content-container {
  /* background-color: red; */
  /* position: inherit; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  padding: 1%;
  /* height: 100%; */
  height: max-content;
}

.content-bg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 3, 12, 0.647);
  border: solid;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 0;
  border-right-width: 0;
  border-color: #45556c27;
  overflow: hidden;
  /* height: 200px; */
  /* height: 20vw; */
  max-height: 400px;
  width: 100%;
  /* padding-top: 6px; */
  padding-left: 22%;
  padding-right: 56px;
}

.content-text {
  /* position: relative; */
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* font-size: 20px; */
  font-size: 2vw;
}

.tool-icon-container {
  display: flex;
  flex-direction: row;
  /* margin: 0; */
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  /* background-color: darkcyan; */
}

.tool-icon {
  /* background-color: aliceblue; */
  width: 6vw;
  max-width: 120px;
  height: 6vw;
  max-height: 120px;
  margin: 1%;
}

.tool-divider {
  background-color: aliceblue;
  border-radius: 2px;
  width: 0.25vw;
  /* border-width: 5px; */
  /* max-width: 120px; */
  height: 5vw;
  max-height: 120px;
  /* margin: 1%; */
  margin-left: 1%;
}

.thumbnail-container {
  display: flex;
  flex-direction: row;
  margin-top: -5.5%;
  margin-right: 6%;
  align-items: center;
  justify-content: right;
  /* background-color: black; */
}

.thumbnail {
  /* background-color: aliceblue; */
  border: solid;
  border-width: 4px;
  border-color: #67676727;
  border-radius: 8px;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  /* width: 6vw;
  max-width: 120px; */
  height: 9vw;
  max-height: 160px;
  margin: 1%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.thumbnail-vertical {
  /* background-color: aliceblue; */
  border: solid;
  border-width: 4px;
  border-color: #67676727;
  border-radius: 8px;
  object-fit: cover;
  aspect-ratio: 9 / 16;
  /* width: 6vw;
  max-width: 120px; */
  height: 14vw;
  max-height: 260px;
  margin: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

.shard-01 {
  /* position: inherit; */
  max-height: 600px;
  width: 50%;
  margin-right: -22%;
  margin-left: -10%;
  z-index: 1;
  /* top: -200px;
  left: -40%; */
}



.newlands-title {
  /* font-size: 50px; */
  /* text-align: right; */
  margin: 0;
  margin-left: 37%;
  margin-bottom: -5%;
  height: 8vw;
  max-height: 150px;
  /* float: left; */
  /* padding-right: 80px; */
  /* padding-bottom: 10px; */
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 3, 12, 0.647);
  border: solid;
  border-top-width: 4px;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-color: #45556c27;
  width: 100%;
  padding-top: 0.4vw;
  /* width: 100px;
  height: 300px; */
}

.footer p {
  font-size: 3vw;
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding-right: 2vh;
}

/* Mobile Optimizations */
@media screen and (max-width: 600px){

  .header {
    display: none;
  }

  .footer {
    z-index: 2;
    position: fixed;
    bottom: 0;
  }

  .footer .social-link {
    /* width: 10vw;
    height: 10vw; */
    /* padding-top: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 2vw; */
  }

  .footer p {
    font-size: 7vw;
    padding-right: 2vh;
  }
}

/* Stops the text from continuing to grow on wide screens. */
@media screen and (min-width: 1920px) {
  .content-text {
    font-size: 38px;
  }
  .name-text {
    font-size: 150px;
    line-height: 150px;
  }
  .hello-text {
    font-size: 60px;
  }
  .bio-text {
    font-size: 40px;
  }
  header .social-link {
    /* background-color: whitesmoke; */
    width: 60px;
    height: 60px;
    margin: 6px;
  }  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
